   *{
        margin: 0;
        padding: 0;
      }
      .report{
        height: 100vh;
        width: 100vw;
        background-color:white;
        position: relative;  
      }
      .name{
        position: absolute;
        top: 10%;
        left: 45%;
      }
      .percentage{
        position: absolute;
        top: 40%;
        left: 43%;
      }
       svg circle{
        width: 150px;
        height: 150px;
        fill: none;
        stroke-width: 10;
        stroke: #000;
        transform: translate(5px , 5px);
        stroke-dasharray: 440;
        stroke-dashoffset: 440;
        stroke-linecap:round ;
      }
      svg circle:nth-child(1){
        stroke-dashoffset: 0;
        stroke: #f3f3f3;
      }
      svg circle:nth-child(2){
        stroke-dashoffset: calc(440 - (440*50)/100);
        stroke: #FF5F15;
      }
       .number{
        position: absolute;
        top: 45%;
        left: 20%;
        width: 100%;
        height: 100%;
        font-size: 20px;
        font-weight:bold;

      }